html, body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  /*overflow: hidden;*/
}

img {
  max-width: 100%;
  height: auto;
}

nav  a:link {
  color: white;
  text-decoration: none;
}

nav  a:visited {
  /*color: rgba(255,255,255,0.5);*/
  color: lightgrey;
  text-decoration: none;
}


.hidden {
  display: none;
}

.background {
  /*background: url('./images/hybridbox1z2r16-9.png');*/
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  left: 0;
  position: fixed;
  /*padding: 0;*/
}

.navbar {
  position: fixed;
  top: 0px;
  /*height: 40px;*/
  width: 100%;
  /*background-color: rgba(0,0,0,.5);*/
  background: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 85%);
  z-index: 5;
}

#nav-links {
  text-align: center;
  font-size: 20px;
  margin-top: .4rem;
  /*margin-top: 30px;*/
}

.nav-list-item {
  /*align-content: center;*/
  font-family: 'Montserrat';
  margin: 2.5rem;
  color: white;
  display: inline;
  vertical-align: middle;
  /*z-index: 3;*/
}

.nav-list-item-nogrow {
  /*align-content: center;*/
  font-family: 'Montserrat';
  margin: 2.5rem;
  color: white;
  display: inline;
  vertical-align: middle;
  /*z-index: 3;*/
}

.shadow-in {
  /*color: white;*/
  /*background-color: rgba(0, 0, 0, .5);*/
  /*height: 50%;*/
  position: relative;
  display: block;
  background: linear-gradient(rgba(0,50,150,0.3), rgba(0,0,0,0) 15%, rgba(0,0,0,0) 85%, rgba(0,50,150,0.3));
  /*height: 250px;*/
  width: 100%;
  /*padding: 10px;*/
  margin: 0px;
  z-index: 3;
  /*border: 5px solid pink;*/
  /*box-shadow: 0px 0px 50px 20px rgba(1, 1, 1, .5) inset;*/
}

.shadow-out {
  /*color: white;*/
  background-color: rgba(255, 250, 240, .825);
  /*height: 50%;*/
  position: relative;
  width: 100%;
  display: block;
  /*height: 250px;*/
  /*padding: 10px;*/
  margin: 0px;
  /*border: 5px solid pink;*/
  box-shadow: 0px 0px 20px 15px rgba(255, 250, 240, .825);
  z-index: 2;
}

.image-link{
  display: inline-block;
  vertical-align: top;
}

.image-link > p{
  margin: 5px;
}

#github{
  position: relative;
  padding-left: 10em;
  font-family: "Montserrat";
  font-size: 25px;
  padding-top: 3em;
  padding-bottom: 3em;
}

#github > a:link{
  color: black;
}

#devcons-frontend{
  position: relative;
  /*width: 100%;*/
  padding-left: 5rem;
  padding-bottom: 2em;
}

#devcons-backend{
  position: relative;
  /*width: 100%;*/
  padding-left: 10rem;
  /*margin-bottom: 1em;*/
}

#devcons-frontend > img {
  margin: 1em;
}

#devcons-backend > img {
  margin: 1em;
}

.project-pics {
  position: relative;
  /*width: 80%;*/
  padding-left: 10em;
}

.backgroundAux {
  position: relative;
  width: 100%;
  height: 100%;
  /*background-size: cover;*/
  /*background-attachment: local;*/
/*  top: 0;
  left: 0;*/
  background: linear-gradient(45deg, rgba(0,0,0,1), white 30%, white 70%, rgba(0,0,0,0));
}


.head1 {

  position: relative;
  /*top: -10px;*/
  /*background-color: goldenrod;*/
  /*border-radius: 30px;*/
  background: linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba(150,190,215,0.7) 20%, rgba(250,250,250, 0.7) 30%, rgba(250,250,250,0.7) 60%,rgba(150,190,215,.7) 80%, rgba(0,0,0,0) 90%);
  width: 100%;
  height: 250px;
  /*display: block;*/
  text-align: center;
  /*align-content: center;*/
  /*vertical-align: middle;*/
  opacity: 1;
  /*border: 5px solid green;*/
  box-shadow: 0px 0px 20px 10px rgba(250, 250, 250, .5);
}


.head2 {
  position: relative;
  /*background-color: goldenrod;*/
  /*border-radius: 30px;*/
  background: linear-gradient(90deg, rgba(50,0,20,0.5), rgba(255,255,255,0.5) 20%, rgba(255,255,255,.5) 80%, rgba(50,0,20,.5));
  width: 100%;
  height: 250px;
  /*display: block;*/
  text-align: center;
  align-content: center;
  /*opacity: .5;*/
  vertical-align: middle;
  /*border: 5px solid blue;*/
}

.header-text {
  /*background-color: black;*/
  z-index: 3;
  top: 3em;
  /*margin: 0px;*/
  position: relative;
  color: blue;
  opacity: 1;
  vertical-align: middle;
}

#name-text {
  color: black;
  word-spacing: 20px;
  font-size: 60px;
  font-family: 'Montserrat';
  font-weight: 600;
  letter-spacing: 3px;
  text-shadow: 1px 2px 8px rgba(0,0,0,0.5);
  margin-bottom: 15px;
}

#title-text {
  margin-top: 0px;
  color: black;
  word-spacing: .5em;
  font-size: 45px;
  font-family: 'Montserrat';
  text-shadow: 1px 2px 4px rgba(0,0,0,0.4);
  font-weight: 600;
}

.section-header {
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.75em;
}

.section-text {
  font-family: 'Montserrat';
  font-size: 25px;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 1em;
}

.break {
  position: relative;
  display: block;
  /*background-color: goldenrod;*/
  /*border-radius: 30px;*/
  background: radial-gradient(goldenrod 40%, white, rgba(0,0,0,0) 70%);
  width: 100%;
  height: 50%;
  display: block;
  text-align: center;
  opacity: .8;
  border: 5px solid white;
}

.brtext {
  opacity: 1;
  margin: 30px;
}

.spacer {
  /*position: relative;*/
  display: block;
  height: 210px;
  padding: 10px;
  margin: 0px;
  /*border: 5px solid pink;*/
    /*perspective: 200px;*/
    /*perspective-origin: 50px 75%;*/
}

.spacer-small {
  position: relative;
  display: block;
  height: 110px;
  /*padding: 10px;*/
  margin: 0px;
  /*border: 5px solid pink;*/
    /*perspective: 200px;*/
    /*perspective-origin: 50px 75%;*/
}
